.letters-underline {
    border-bottom: 4px solid #000;
    padding-bottom: 10px;
    font-family: Arial-BoldMT;
    font-size: 40px;
    color: #0E0F0F;
    letter-spacing: 0;
    text-align: center;
    width: 32px;
    height: 44px;
}

 table th {
    text-align: center;
    height: 35px;
    vertical-align: middle;
    border-spacing: 1em .5em;
    min-width: 45px;
 }

 tr {
     text-align: center;
 }
 th:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid black;
}

.myth:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid blue;
}

 p {
     margin-bottom: 3px;
 }

.col-game {
    flex-grow: 0;
    right: 0;
    left: 0;
}

.black-letters {
    color: #0E0F0F;
}

.blue-letters {
    color: rgb(17, 13, 228);
}

.tryhard {
    background-image: url('/assets/blue.png');
}