
<div class="table-responsive">
<table class="table-borderless justify-content-md-center">
    <tbody>
      <tr class="justify-content-md-center" *ngFor="let lett of selectedMovieToDisplay; let i = index">
        <th [ngClass]="{'myth': initializeLetters.includes(letter)}" class="col-md-2 col-xs-6" *ngFor="let letter of lett.Letters">
            <p [className]="getClass(letter)" *ngIf="selectedLetters.includes(letter)">{{letter}}</p>
        </th>
      </tr>
    </tbody>
  </table>
</div>


