
<div class="container">
    <div class="row justify-content-md-center">
          <app-header></app-header>
        </div>
    <div class="row justify-content-md-center row-game">
      <div class="col-6 col-md-3 pull-left">
        <app-hangman></app-hangman>
      </div>
      <div class="col-6 col-md-6 align-content-center">
        <div class="row justify-content-md-center row-game">
            <app-game></app-game>
        </div>
        <div class="row justify-content-md-center">
            <app-keyboard></app-keyboard>
        </div>
      </div>
      <div class="col-6 col-md-3 pull-right">
        <app-status class="pull-right"></app-status>
      </div>
    </div>
  </div>

